@model Product
@{
    ViewData["Title"] = "Details";
    var photoPath = "~/images/products/" + (Model.ProductImage ?? "no-photo.png");
}

<h1>Product details</h1>

<div>
    <div class="row">
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </div>
        <div class="col-md-2">
            @Html.DisplayFor(model => model.ProductName)
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.ProductDescription)
        </div>
        <div class="col-md-2">
            @Html.DisplayFor(model => model.ProductDescription)
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </div>
        <div class="col-md-2">
            @Html.DisplayFor(model => model.Quantity)
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.Price)
        </div>
        <div class="col-md-2">
            @Html.DisplayFor(model => model.Price)
        </div>
    </div>

</div>

<div>
    <a asp-action="Index">Back</a> |
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
</div>

@if (Model.ProductImage != null)
{
    <form method="post" asp-action="DeleteProductPhoto" asp-route-id="@Model.Id">
    <button type="submit" class="btn btn-danger" style="width:auto">Delete image</button>
    </form>
}

<img class="card-img-top" style="max-width: fit-content" src="@photoPath" asp-append-version="true" />