@model Product
@{
    ViewData["Title"] = "Details";
    var photoPath = "~/images/products/" + (Model.ProductImage ?? "no-photo.png");
}

<h1>Product details</h1>

<div class="row">
    <div class="col-md-6">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Quantity)pcs
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Price)$
        </dd>
    </dl>
</div>
<div class="col-md-6">
    <img class="card-img-top" style="max-width:100vw fit-content" src="@photoPath" asp-append-version="true" />
</div>

<div class="btn-group">
    <a class="btn btn-primary" asp-action="Index">Back</a>
    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    @if (Model.ProductImage != null)
{
    <form method="post" asp-action="DeleteProductPhoto" asp-route-id="@Model.Id">
    <button type="submit" class="btn btn-danger" style="width:auto">Delete image</button>
    </form>
}
</div>
</div>


