@model List<Product>

@{
    ViewData["Title"] = "Index";
    int count = Model.Count();
}

<ul class="breadcrumb">
    <li><a asp-controller="Home" asp-action="Index">Administration</a></li>
    <li>Products</li>
</ul>
<div class="d-flex justify-content-between">
    
    <div class="dropdown m-5">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Per Page
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" asp-action="Index" asp-route-perPage=10>10</a>
            <a class="dropdown-item" asp-action="Index" asp-route-perPage=20>20</a>
            <a class="dropdown-item" asp-action="Index" asp-route-perPage=50>50</a>
            <a class="dropdown-item" asp-action="Index" asp-route-perPage=100>100</a>
        </div>
    </div>
    <div class="text-muted m-5">Showing @count of @ViewBag.Products products</div>
    <form asp-controller="Product" asp-action="Index">
        @Html.AntiForgeryToken()
        <div class="m-5">
        <span>Search: </span><input type="text" name="filter" />
        <input type="submit" value="Search" class="btn btn-secondary" />
        </div>
    </form>
    <a class="btn btn-primary m-5" asp-action="Create">Create new product</a>
</div>
@if (Model.Count == 0)
{
    <div class="text-center">
        <h1>No products in Store</h1>
    </div>
}
else
{
    <div class="row justify-content-center">
        <div class="col-xl-12 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col-2">
                                    Title
                                </th>
                                <th class="col-7">
                                    Description
                                </th>
                                <th class="col-1">
                                    Price
                                </th>
                                <th class="col-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="col-2">@Html.DisplayFor(modelItem => item.ProductName)</td>
                                    <td class="col-7">@Html.DisplayFor(modelItem => item.ProductDescription)</td>
                                    <td class="col-1">@Html.DisplayFor(modelItem => item.Price)$</td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                            <a class="btn btn-secondary btn-sm" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                            <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                            <a class="btn btn-success btn-sm" asp-action="Index" asp-controller="ProductCategory" asp-route-productId="@item.Id">Category</a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}